._1{
    background-color: black;
    height: 50px;
}
._2{
    background-color: blue;
    height: 357px;
    width: 45%;
    display: inline-block;
}
._3{
    margin-top: 20px;
    background-color: red;
    height: 316px;
    width: 50%;
    display: inline-block;
}
._4{
    background-color: green;
    height: 50px;
}
.span{
    background-color: yellow;
}